


@media( min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }


    header .container{
        flex-direction:row ;
        justify-content:space-between ;
       

    }
    
    header nav{
        flex-direction: row;
        padding-bottom:0 ;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 6em
    }


    #somos-proya   .container{
        display:flex ;
        justify-content: space-evenly;
        
    
    }


    #somos-proya   .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 40px;
        padding: 0px   30px;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    #somos-proya  h2{
        margin-top: 0px;
    }




    #somos-proya   .img-container{
        background-image:url("./imagen-nombre.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 700px;

    
    }



    #nuestros-programas  .programas{
        display: flex;
        justify-content: center;

    }
    

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas  h3{
        margin-top: 0;

    }


    #nuestros-programas   .carta{
        padding: 50px;
    }

    #caracteristicas {
        background-image: url("./caracteristicas-img.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }



    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;

    }

    #final h2 {
        font-size: 5em;

    }
    #final button{
        font-size: 2em;
    }

    #final .container{
      justify-content:flex-end ;

    }


}

#angel{
    justify-content:flex-end ;

}

@media(min-width:1200px){
    #caracteristicas {
        background-position-x:calc(100vw - 800px) ;
    }
}





