body{
    
    padding: 0px;
    margin: 0px;
    background-color: rgb(185, 191, 196);
}
header img{
    height: 30px;
}
header{
    width: 100%;
    margin: 0px;
    height: 40px;   
    display: flex;
    text-align: center; 
    background-color: white;
}
.header{

    margin: 5px;
}
header b{
    text-align: center;
    margin-top: 5px;
    margin-left: 15px;
}
header button{
    margin-left: 15px;
    display:center;
    width: 80px;
    height: 30px;
    border-radius: 2em;
    text-align: center;
    content: inherit;
    background-color: rgba(151, 147, 147,0.4);

}

header div button img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 10%;
    right: 10%;
}
header div{
    display: flex;
    content: inherit;
    padding-right: 0;
    align-content: right;
    float: right;
}
header .izquierda img{ 
    display: flex;
    content: inherit;
margin-left: px;
margin-right: 5px;

}
header .izquierda{
    padding-left: 600px;
    border-right: solid #EAEDEE;
}
header .derecha{
    border-right: solid #EAEDEE;
}
nav {
    width: 4%;
    height: 1000px;
    background-color: rgba(49, 49, 143, 0.815);
    padding-left: 0px;
    margin-left: 0px;   
    font-size: 8px;
    text-align: center;
    color: aliceblue;
    
}
nav img{
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-right: 12.5px;
    margin-left: 12.5px;
}
    #abrirMenuButton{
        background-color: rgba(49, 49, 143, 0.815);
        color: aliceblue;
        font-size: 2vw;
}
.Postnav{
    margin-left: 0px;
    width: 17%;
    height: 1000px;
    background-color: rgb(30, 30, 133);
    color: aliceblue;
}
.navpost{
    display: flex;
}
.Postnav1 {
    margin: 15px;
    color: aliceblue;
}
.Postnav1 img {
    width: 210px;
    height: auto;
}
.Postnav1 select {
    width: 205px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.247);
    color:aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cuadrogris{
    display: flex;
    margin-top: 75px;
    width: 100%;
    height: 500px;
    background-color: rgb(77, 77, 77);
    margin-bottom: 15%;
    color: aliceblue;
}
.textocuadro {
    margin-top: 5%;
    margin-left: 15%;
    width: 33%;
    height: auto;
    background-color: none;
}
.textocuadro h1 {
    font-size: 40px;
}
.imagenescuadro {
    margin-left: 70px;
    margin-top: 40px;
    width: 315px;
    height: 520px;
    background-color: rgb(210, 231, 253);
}

#PiePagina {
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
    color: gray;
    font-size: 30px;
  }

  #BotonRecuadro {
    position:absolute;
    color: gray;
    background-color:#A6F4F7;
    font-size: 23px;
    margin: 40px;
    border-bottom:gray;
    padding: 20px 20px;


  }
  .linea{
    position: absolute;
    top: 45%;
    width: 1.2%;
    border-color:gray;
    border-style: solid;
    border-width: 1.5px 2 1;


  }

